In [59]:
%autoreload
%reload_ext autoreload
import numpy as np
import pandas as pd
import neurokit2 as nk
import wfdb
import os
from src import featurize as ef
import ast

In [26]:
%reload_ext autoreload

In [3]:
directory = "./data/"

In [4]:
ecg_filenames = []
for filename in os. listdir(directory):
    ecg_filenames.append(filename[:-4])

In [5]:
directory + ecg_filenames[0]

'./data/00001_hr'

In [6]:
wfdb.rdsamp(directory + ecg_filenames[0])

(array([[-0.115, -0.05 ,  0.065, ..., -0.035, -0.035, -0.075],
        [-0.115, -0.05 ,  0.065, ..., -0.035, -0.035, -0.075],
        [-0.115, -0.05 ,  0.065, ..., -0.035, -0.035, -0.075],
        ...,
        [ 0.21 ,  0.205, -0.005, ...,  0.185,  0.17 ,  0.18 ],
        [ 0.21 ,  0.205, -0.005, ...,  0.185,  0.17 ,  0.18 ],
        [ 0.21 ,  0.205, -0.005, ...,  0.185,  0.17 ,  0.18 ]]),
 {'fs': 500,
  'sig_len': 5000,
  'n_sig': 12,
  'base_date': None,
  'base_time': None,
  'units': ['mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV',
   'mV'],
  'sig_name': ['I',
   'II',
   'III',
   'AVR',
   'AVL',
   'AVF',
   'V1',
   'V2',
   'V3',
   'V4',
   'V5',
   'V6'],
  'comments': []})

In [7]:
ecg_filenames = np.asarray(ecg_filenames)

In [8]:
demo_data = pd.read_csv('ptbxl_database.csv', index_col='ecg_id')

In [9]:
demo_data.scp_codes = demo_data.scp_codes.apply(lambda x: ast.literal_eval(x))

In [10]:
agg_df = pd.read_csv('scp_statements.csv', index_col=0)
agg_df = agg_df[agg_df.diagnostic == 1]

In [11]:
def aggregate_diagnostic(y_dic):
    tmp = []
    for key in y_dic.keys():
        if key in agg_df.index:
            tmp.append(agg_df.loc[key].diagnostic_class)
    return list(set(tmp))

demo_data['diagnostic_superclass'] = demo_data.scp_codes.apply(aggregate_diagnostic)

In [12]:
demo_data = demo_data.iloc[:999,:]

In [45]:
demo_data

,patient_id,age,sex,height,weight,nurse,site,device,recording_date,report,...,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr,diagnostic_superclass
ecg_id,,,,,,,,,,,,,,,,,,,,,
1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,1984-11-09 09:17:34,sinusrhythmus periphere niederspannung,...,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr,[NORM]
2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,1984-11-14 12:55:37,sinusbradykardie sonst normales ekg,...,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr,[NORM]
3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,1984-11-15 12:49:10,sinusrhythmus normales ekg,...,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr,[NORM]
4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,1984-11-15 13:44:57,sinusrhythmus normales ekg,...,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr,[NORM]
5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,1984-11-17 10:43:15,sinusrhythmus normales ekg,...,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr,[NORM]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,6672.0,86.0,1,165.0,73.0,9.0,1.0,AT-6 6,1987-07-27 12:43:35,sinus tachycardia. pr interval slightly long f...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00995_lr,records500/00000/00995_hr,[NORM]
996,1010.0,85.0,1,163.0,53.0,6.0,1.0,AT-6 C 5.8,1987-07-27 13:27:40,sinus rhythm. non-specific t wave flattening i...,...,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00996_lr,records500/00000/00996_hr,[MI]
997,381.0,85.0,1,158.0,50.0,6.0,1.0,AT-6 6,1987-07-29 08:23:24,"sinus rhythm. t waves are inverted in ii, iii,...",...,NaN,NaN,NaN,NaN,NaN,NaN,3,records100/00000/00997_lr,records500/00000/00997_hr,[MI]
998,6058.0,80.0,0,173.0,84.0,1.0,1.0,AT-6 6,1987-07-29 10:15:33,premature ventricular contraction(s). sinus rh...,...,NaN,NaN,NaN,NaN,NaN,NaN,7,records100/00000/00998_lr,records500/00000/00998_hr,"[CD, HYP]"
999,1497.0,73.0,0,180.0,73.0,7.0,1.0,AT-6 C 5.5,1987-07-29 11:18:06,sinus rhythm. normal ecg.,...,NaN,NaN,NaN,NaN,NaN,NaN,9,records100/00000/00999_lr,records500/00000/00999_hr,[NORM]

In [13]:
labels = np.asarray(demo_data['diagnostic_superclass'])

In [60]:
My_features =ef.get_features()

In [ ]:
Myfeatures=My_features.featurizer(features=ecg_filenames,labels=labels,directory="./data/",demographical_data=demo_data)

1 out of 1 succeeded
2 out of 2 succeeded
3 out of 3 succeeded
4 out of 4 succeeded
5 out of 5 succeeded
6 out of 6 succeeded

C:\Users\Bjorn\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\Bjorn\anaconda3\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

7 out of 7 succeeded
8 out of 8 succeeded
9 out of 9 succeeded
10 out of 10 succeeded
11 out of 11 succeeded
12 out of 12 succeeded
13 out of 13 succeeded
14 out of 14 succeeded
15 out of 15 succeeded
16 out of 16 succeeded
17 out of 17 succeeded
18 out of 18 succeeded
19 out of 19 succeeded
20 out of 20 succeeded
21 out of 21 succeeded
22 out of 22 succeeded
23 out of 23 succeeded
24 out of 24 succeeded
25 out of 25 succeeded
26 out of 26 succeeded
27 out of 27 succeeded
28 out of 28 succeeded
29 out of 29 succeeded
30 out of 30 succeeded
31 out of 31 succeeded
32 out of 32 succeeded
33 out of 33 succeeded
34 out of 34 succeeded
35 out of 35 succeeded
36 out of 36 succeeded
37 out of 37 succeeded
38 out of 38 succeeded
39 out of 39 succeeded
40 out of 40 succeeded
41 out of 41 succeeded
42 out of 42 succeeded
43 out of 43 succeeded
44 out of 44 succeeded
45 out of 45 succeeded
46 out of 46 succeeded
47 out of 47 succeeded
48 out of 48 succeeded
49 out of 49 succeeded
50 out of 50 succeeded
51 out of 51 succeeded
52 out of 52 succeeded
53 out of 53 succeeded
54 out of 54 succeeded
55 out of 55 succeeded
56 out of 56 succeeded
57 out of 57 succeeded
58 out of 58 succeeded
59 out of 59 succeeded
60 out of 60 succeeded
61 out of 61 succeeded
62 out of 62 succeeded
63 out of 63 succeeded
64 out of 64 succeeded
65 out of 65 succeeded
66 out of 66 succeeded
67 out of 67 succeeded
68 out of 68 succeeded
69 out of 69 succeeded
70 out of 70 succeeded
71 out of 71 succeeded
72 out of 72 succeeded
73 out of 73 succeeded
74 out of 74 succeeded
75 out of 75 succeeded
76 out of 76 succeeded
77 out of 77 succeeded
78 out of 78 succeeded
79 out of 79 succeeded
80 out of 80 succeeded
81 out of 81 succeeded
82 out of 82 succeeded
83 out of 83 succeeded
84 out of 84 succeeded
85 out of 85 succeeded
86 out of 86 succeeded
87 out of 87 succeeded
88 out of 88 succeeded
89 out of 89 succeeded
90 out of 90 succeeded
91 out of 91 succeeded
92 out of 92 succeeded
93 out of 93 succeeded
94 out of 94 succeeded
95 out of 95 succeeded
96 out of 96 succeeded
97 out of 97 succeeded
98 out of 98 succeeded
99 out of 99 succeeded
100 out of 100 succeeded
101 out of 101 succeeded
102 out of 102 succeeded
103 out of 103 succeeded
104 out of 104 succeeded
105 out of 105 succeeded
106 out of 106 succeeded
107 out of 107 succeeded
108 out of 108 succeeded
109 out of 109 succeeded
110 out of 110 succeeded
111 out of 111 succeeded
112 out of 112 succeeded
113 out of 113 succeeded
114 out of 114 succeeded
115 out of 115 succeeded
116 out of 116 succeeded
117 out of 117 succeeded
118 out of 118 succeeded
119 out of 119 succeeded
120 out of 120 succeeded
121 out of 121 succeeded
122 out of 122 succeeded
123 out of 123 succeeded
124 out of 124 succeeded
125 out of 125 succeeded
126 out of 126 succeeded
127 out of 127 succeeded
128 out of 128 succeeded
129 out of 129 succeeded
130 out of 130 succeeded
131 out of 131 succeeded
132 out of 132 succeeded
133 out of 133 succeeded
134 out of 134 succeeded
135 out of 135 succeeded
136 out of 136 succeeded
137 out of 137 succeeded
138 out of 138 succeeded
139 out of 139 succeeded
140 out of 140 succeeded
141 out of 141 succeeded
142 out of 142 succeeded
143 out of 143 succeeded
144 out of 144 succeeded
145 out of 145 succeeded
146 out of 146 succeeded
147 out of 147 succeeded
148 out of 148 succeeded
149 out of 149 succeeded
150 out of 150 succeeded
151 out of 151 succeeded
152 out of 152 succeeded
153 out of 153 succeeded
154 out of 154 succeeded
155 out of 155 succeeded
156 out of 156 succeeded
157 out of 157 succeeded
158 out of 158 succeeded
159 out of 159 succeeded
160 out of 160 succeeded
161 out of 161 succeeded
162 out of 162 succeeded
163 out of 163 succeeded
164 out of 164 succeeded
165 out of 165 succeeded
166 out of 166 succeeded
167 out of 167 succeeded
168 out of 168 succeeded
169 out of 169 succeeded
170 out of 170 succeeded
171 out of 171 succeeded
172 out of 172 succeeded
173 out of 173 succeeded
174 out of 174 succeeded
175 out of 175 succeeded
176 out of 176 succeeded
177 out of 177 succeeded
178 out of 178 succeeded
179 out of 179 succeeded
180 out of 180 succeeded
181 out of 181 succeeded
182 out of 182 succeeded
183 out of 183 succeeded
184 out of 184 succeeded
185 out of 185 succeeded
186 out of 186 succeeded
187 out of 187 succeeded
188 out of 188 succeeded
189 out of 189 succeeded
190 out of 190 succeeded
191 out of 191 succeeded
192 out of 192 succeeded
193 out of 193 succeeded
194 out of 194 succeeded
195 out of 195 succeeded
196 out of 196 succeeded
197 out of 197 succeeded
198 out of 198 succeeded
199 out of 199 succeeded
200 out of 200 succeeded
201 out of 201 succeeded
202 out of 202 succeeded
203 out of 203 succeeded
204 out of 204 succeeded
205 out of 205 succeeded
206 out of 206 succeeded
207 out of 207 succeeded
208 out of 208 succeeded
209 out of 209 succeeded
210 out of 210 succeeded
211 out of 211 succeeded
212 out of 212 succeeded
213 out of 213 succeeded
214 out of 214 succeeded
215 out of 215 succeeded
216 out of 216 succeeded
217 out of 217 succeeded
218 out of 218 succeeded
219 out of 219 succeeded
220 out of 220 succeeded
221 out of 221 succeeded
222 out of 222 succeeded
223 out of 223 succeeded
224 out of 224 succeeded
225 out of 225 succeeded
226 out of 226 succeeded
227 out of 227 succeeded
228 out of 228 succeeded
229 out of 229 succeeded
230 out of 230 succeeded
231 out of 231 succeeded
232 out of 232 succeeded
233 out of 233 succeeded
234 out of 234 succeeded
235 out of 235 succeeded
236 out of 236 succeeded
237 out of 237 succeeded
238 out of 238 succeeded
239 out of 239 succeeded
240 out of 240 succeeded
241 out of 241 succeeded
242 out of 242 succeeded
243 out of 243 succeeded
244 out of 244 succeeded
245 out of 245 succeeded
246 out of 246 succeeded
247 out of 247 succeeded
248 out of 248 succeeded
249 out of 249 succeeded
250 out of 250 succeeded
251 out of 251 succeeded
252 out of 252 succeeded
253 out of 253 succeeded
254 out of 254 succeeded
255 out of 255 succeeded
256 out of 256 succeeded
257 out of 257 succeeded
258 out of 258 succeeded
259 out of 259 succeeded
260 out of 260 succeeded
261 out of 261 succeeded
262 out of 262 succeeded
263 out of 263 succeeded
264 out of 264 succeeded
265 out of 265 succeeded
266 out of 266 succeeded
267 out of 267 succeeded
268 out of 268 succeeded
269 out of 269 succeeded
270 out of 270 succeeded
271 out of 271 succeeded
272 out of 272 succeeded
273 out of 273 succeeded
274 out of 274 succeeded
275 out of 275 succeeded
276 out of 276 succeeded
277 out of 277 succeeded
278 out of 278 succeeded
279 out of 279 succeeded
280 out of 280 succeeded
281 out of 281 succeeded
282 out of 282 succeeded
283 out of 283 succeeded
284 out of 284 succeeded
285 out of 285 succeeded
286 out of 286 succeeded
287 out of 287 succeeded
288 out of 288 succeeded
289 out of 289 succeeded
290 out of 290 succeeded
291 out of 291 succeeded
292 out of 292 succeeded
293 out of 293 succeeded
294 out of 294 succeeded
295 out of 295 succeeded
296 out of 296 succeeded
297 out of 297 succeeded
298 out of 298 succeeded
299 out of 299 succeeded
300 out of 300 succeeded
301 out of 301 succeeded
302 out of 302 succeeded
303 out of 303 succeeded
304 out of 304 succeeded
305 out of 305 succeeded
306 out of 306 succeeded
307 out of 307 succeeded
308 out of 308 succeeded
309 out of 309 succeeded
310 out of 310 succeeded
311 out of 311 succeeded
312 out of 312 succeeded
313 out of 313 succeeded
314 out of 314 succeeded
315 out of 315 succeeded
316 out of 316 succeeded
317 out of 317 succeeded
318 out of 318 succeeded
319 out of 319 succeeded
320 out of 320 succeeded
321 out of 321 succeeded
322 out of 322 succeeded
323 out of 323 succeeded
324 out of 324 succeeded
325 out of 325 succeeded
326 out of 326 succeeded
327 out of 327 succeeded
328 out of 328 succeeded
329 out of 329 succeeded
330 out of 330 succeeded
331 out of 331 succeeded
332 out of 332 succeeded
333 out of 333 succeeded
334 out of 334 succeeded
335 out of 335 succeeded
336 out of 336 succeeded
337 out of 337 succeeded
338 out of 338 succeeded
339 out of 339 succeeded
340 out of 340 succeeded
341 out of 341 succeeded
342 out of 342 succeeded

343 out of 343 succeeded
344 out of 344 succeeded
345 out of 345 succeeded
346 out of 346 succeeded
347 out of 347 succeeded
348 out of 348 succeeded
349 out of 349 succeeded
350 out of 350 succeeded
351 out of 351 succeeded
352 out of 352 succeeded
353 out of 353 succeeded
354 out of 354 succeeded
355 out of 355 succeeded
356 out of 356 succeeded
357 out of 357 succeeded
358 out of 358 succeeded
359 out of 359 succeeded
360 out of 360 succeeded
361 out of 361 succeeded
362 out of 362 succeeded
363 out of 363 succeeded
364 out of 364 succeeded
365 out of 365 succeeded
366 out of 366 succeeded
367 out of 367 succeeded
368 out of 368 succeeded
369 out of 369 succeeded
370 out of 370 succeeded
371 out of 371 succeeded
372 out of 372 succeeded
373 out of 373 succeeded
374 out of 374 succeeded
375 out of 375 succeeded
376 out of 376 succeeded
377 out of 377 succeeded
378 out of 378 succeeded
379 out of 379 succeeded
380 out of 380 succeeded
381 out of 381 succeeded
382 out of 382 succeeded
383 out of 383 succeeded
384 out of 384 succeeded
385 out of 385 succeeded
386 out of 386 succeeded
387 out of 387 succeeded
388 out of 388 succeeded
389 out of 389 succeeded
390 out of 390 succeeded
391 out of 391 succeeded
392 out of 392 succeeded
393 out of 393 succeeded
394 out of 394 succeeded
395 out of 395 succeeded
396 out of 396 succeeded
397 out of 397 succeeded
398 out of 398 succeeded
399 out of 399 succeeded
400 out of 400 succeeded
401 out of 401 succeeded
402 out of 402 succeeded
403 out of 403 succeeded
404 out of 404 succeeded
405 out of 405 succeeded
406 out of 406 succeeded
407 out of 407 succeeded
408 out of 408 succeeded
409 out of 409 succeeded
410 out of 410 succeeded
411 out of 411 succeeded
412 out of 412 succeeded
413 out of 413 succeeded
414 out of 414 succeeded
415 out of 415 succeeded
416 out of 416 succeeded
417 out of 417 succeeded
418 out of 418 succeeded
419 out of 419 succeeded
420 out of 420 succeeded
421 out of 421 succeeded
422 out of 422 succeeded
423 out of 423 succeeded
424 out of 424 succeeded
425 out of 425 succeeded
426 out of 426 succeeded
427 out of 427 succeeded
428 out of 428 succeeded
429 out of 429 succeeded
430 out of 430 succeeded
431 out of 431 succeeded
432 out of 432 succeeded
433 out of 433 succeeded
434 out of 434 succeeded
435 out of 435 succeeded
436 out of 436 succeeded
437 out of 437 succeeded
438 out of 438 succeeded
439 out of 439 succeeded
440 out of 440 succeeded
441 out of 441 succeeded
442 out of 442 succeeded
443 out of 443 succeeded
444 out of 444 succeeded
445 out of 445 succeeded
446 out of 446 succeeded
447 out of 447 succeeded
448 out of 448 succeeded
449 out of 449 succeeded
450 out of 450 succeeded
451 out of 451 succeeded
452 out of 452 succeeded
453 out of 453 succeeded
454 out of 454 succeeded
455 out of 455 succeeded
456 out of 456 succeeded
457 out of 457 succeeded
458 out of 458 succeeded
459 out of 459 succeeded
460 out of 460 succeeded
461 out of 461 succeeded
462 out of 462 succeeded
463 out of 463 succeeded
464 out of 464 succeeded
465 out of 465 succeeded
466 out of 466 succeeded
467 out of 467 succeeded
468 out of 468 succeeded
469 out of 469 succeeded
470 out of 470 succeeded
471 out of 471 succeeded
472 out of 472 succeeded
473 out of 473 succeeded
474 out of 474 succeeded
475 out of 475 succeeded
476 out of 476 succeeded
477 out of 477 succeeded
478 out of 478 succeeded
479 out of 479 succeeded
480 out of 480 succeeded
481 out of 481 succeeded
482 out of 482 succeeded
483 out of 483 succeeded
484 out of 484 succeeded
485 out of 485 succeeded
486 out of 486 succeeded
487 out of 487 succeeded
488 out of 488 succeeded
489 out of 489 succeeded
490 out of 490 succeeded
491 out of 491 succeeded
492 out of 492 succeeded
493 out of 493 succeeded
494 out of 494 succeeded
495 out of 495 succeeded
496 out of 496 succeeded
497 out of 497 succeeded
498 out of 498 succeeded
499 out of 499 succeeded
500 out of 500 succeeded
501 out of 501 succeeded
502 out of 502 succeeded
503 out of 503 succeeded
504 out of 504 succeeded
505 out of 505 succeeded
506 out of 506 succeeded
507 out of 507 succeeded
508 out of 508 succeeded
509 out of 509 succeeded
510 out of 510 succeeded
511 out of 511 succeeded
512 out of 512 succeeded
513 out of 513 succeeded
514 out of 514 succeeded
515 out of 515 succeeded
516 out of 516 succeeded
517 out of 517 succeeded
518 out of 518 succeeded
519 out of 519 succeeded
520 out of 520 succeeded
521 out of 521 succeeded
522 out of 522 succeeded
523 out of 523 succeeded
524 out of 524 succeeded
525 out of 525 succeeded
526 out of 526 succeeded
527 out of 527 succeeded
528 out of 528 succeeded
529 out of 529 succeeded
530 out of 530 succeeded
531 out of 531 succeeded
532 out of 532 succeeded
533 out of 533 succeeded
534 out of 534 succeeded
535 out of 535 succeeded
536 out of 536 succeeded
537 out of 537 succeeded
538 out of 538 succeeded
539 out of 539 succeeded
540 out of 540 succeeded
541 out of 541 succeeded
542 out of 542 succeeded
543 out of 543 succeeded
544 out of 544 succeeded
545 out of 545 succeeded
546 out of 546 succeeded
547 out of 547 succeeded
548 out of 548 succeeded
549 out of 549 succeeded
550 out of 550 succeeded
551 out of 551 succeeded
552 out of 552 succeeded
553 out of 553 succeeded
554 out of 554 succeeded
555 out of 555 succeeded
556 out of 556 succeeded
557 out of 557 succeeded
558 out of 558 succeeded
559 out of 559 succeeded
560 out of 560 succeeded
561 out of 561 succeeded
562 out of 562 succeeded
563 out of 563 succeeded
564 out of 564 succeeded
565 out of 565 succeeded
566 out of 566 succeeded
567 out of 567 succeeded
568 out of 568 succeeded
569 out of 569 succeeded
570 out of 570 succeeded
571 out of 571 succeeded
572 out of 572 succeeded
573 out of 573 succeeded
574 out of 574 succeeded
575 out of 575 succeeded
576 out of 576 succeeded
577 out of 577 succeeded
578 out of 578 succeeded
579 out of 579 succeeded
580 out of 580 succeeded
581 out of 581 succeeded
582 out of 582 succeeded
583 out of 583 succeeded
584 out of 584 succeeded
585 out of 585 succeeded
586 out of 586 succeeded
587 out of 587 succeeded
588 out of 588 succeeded
589 out of 589 succeeded
590 out of 590 succeeded
591 out of 591 succeeded
592 out of 592 succeeded
593 out of 593 succeeded
594 out of 594 succeeded
595 out of 595 succeeded
596 out of 596 succeeded
597 out of 597 succeeded
Not able to get calculate Q, S peaks and features related to them
Future version will deal with this
598 out of 599 succeeded
599 out of 600 succeeded
600 out of 601 succeeded
601 out of 602 succeeded
602 out of 603 succeeded
603 out of 604 succeeded
604 out of 605 succeeded
605 out of 606 succeeded
606 out of 607 succeeded
607 out of 608 succeeded
608 out of 609 succeeded
609 out of 610 succeeded
610 out of 611 succeeded
611 out of 612 succeeded
612 out of 613 succeeded
613 out of 614 succeeded
614 out of 615 succeeded
615 out of 616 succeeded
616 out of 617 succeeded
617 out of 618 succeeded
618 out of 619 succeeded
619 out of 620 succeeded
620 out of 621 succeeded
621 out of 622 succeeded
622 out of 623 succeeded
623 out of 624 succeeded
624 out of 625 succeeded
625 out of 626 succeeded
626 out of 627 succeeded
627 out of 628 succeeded
628 out of 629 succeeded
629 out of 630 succeeded
630 out of 631 succeeded
631 out of 632 succeeded
632 out of 633 succeeded
633 out of 634 succeeded
634 out of 635 succeeded
635 out of 636 succeeded
636 out of 637 succeeded
637 out of 638 succeeded
638 out of 639 succeeded
639 out of 640 succeeded
640 out of 641 succeeded
641 out of 642 succeeded
642 out of 643 succeeded
643 out of 644 succeeded
644 out of 645 succeeded
645 out of 646 succeeded
646 out of 647 succeeded
647 out of 648 succeeded

C:\Users\Bjorn\OneDrive\Documents\Github\ECG-featurizer\src\featurize.py:159: RuntimeWarning: Mean of empty slice.
  t_amp_leads[i] = (ecgdata[i][t_peaks]/voltage_res).mean()
C:\Users\Bjorn\anaconda3\lib\site-packages\numpy\core\_methods.py:217: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\Users\Bjorn\anaconda3\lib\site-packages\numpy\core\_methods.py:186: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
C:\Users\Bjorn\anaconda3\lib\site-packages\numpy\core\_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\Bjorn\OneDrive\Documents\Github\ECG-featurizer\src\featurize.py:172: RuntimeWarning: Mean of empty slice.
  mean_t_rate = t_peak_rate.mean()
C:\Users\Bjorn\OneDrive\Documents\Github\ECG-featurizer\src\featurize.py:189: RuntimeWarning: Mean of empty slice.
  mean_t_offset = t_offset_rate.mean()
C:\Users\Bjorn\OneDrive\Documents\Github\ECG-featurizer\src\featurize.py:207: RuntimeWarning: Mean of empty slice.
  mean_t_onsets = t_onsets_rate.mean()

Not able to calculate t_rate_min for sample 649
Not able to calculate t_rate_max for sample 649
Not able to calculate t_offset_min for sample 649
Not able to calculate t_offset_max for sample 649
Not able to calculate t_onsets_min for sample 649
Not able to calculate t_onsets_max for sample 649
648 out of 649 succeeded
Not able to calculate t_rate_min for sample 650
Not able to calculate t_rate_max for sample 650
Not able to calculate t_offset_min for sample 650
Not able to calculate t_offset_max for sample 650
Not able to calculate t_onsets_min for sample 650
Not able to calculate t_onsets_max for sample 650
649 out of 650 succeeded
650 out of 651 succeeded
651 out of 652 succeeded
652 out of 653 succeeded
653 out of 654 succeeded
654 out of 655 succeeded
655 out of 656 succeeded
656 out of 657 succeeded
657 out of 658 succeeded
658 out of 659 succeeded
659 out of 660 succeeded
660 out of 661 succeeded
661 out of 662 succeeded
662 out of 663 succeeded
663 out of 664 succeeded
664 out of 665 succeeded
665 out of 666 succeeded
666 out of 667 succeeded
667 out of 668 succeeded
668 out of 669 succeeded
669 out of 670 succeeded
670 out of 671 succeeded
671 out of 672 succeeded
672 out of 673 succeeded
673 out of 674 succeeded
674 out of 675 succeeded
675 out of 676 succeeded
676 out of 677 succeeded
677 out of 678 succeeded
678 out of 679 succeeded
679 out of 680 succeeded
680 out of 681 succeeded
681 out of 682 succeeded
682 out of 683 succeeded
683 out of 684 succeeded
684 out of 685 succeeded
685 out of 686 succeeded
686 out of 687 succeeded
687 out of 688 succeeded
688 out of 689 succeeded
689 out of 690 succeeded
690 out of 691 succeeded
691 out of 692 succeeded
692 out of 693 succeeded
693 out of 694 succeeded
694 out of 695 succeeded
695 out of 696 succeeded
696 out of 697 succeeded
697 out of 698 succeeded
698 out of 699 succeeded
699 out of 700 succeeded
700 out of 701 succeeded
701 out of 702 succeeded
702 out of 703 succeeded
703 out of 704 succeeded
704 out of 705 succeeded
705 out of 706 succeeded
706 out of 707 succeeded
707 out of 708 succeeded
708 out of 709 succeeded
709 out of 710 succeeded
710 out of 711 succeeded
711 out of 712 succeeded
712 out of 713 succeeded
713 out of 714 succeeded
714 out of 715 succeeded
715 out of 716 succeeded
716 out of 717 succeeded
717 out of 718 succeeded
718 out of 719 succeeded
719 out of 720 succeeded
720 out of 721 succeeded
721 out of 722 succeeded
722 out of 723 succeeded
723 out of 724 succeeded
724 out of 725 succeeded
725 out of 726 succeeded
726 out of 727 succeeded
727 out of 728 succeeded
728 out of 729 succeeded
729 out of 730 succeeded
730 out of 731 succeeded
731 out of 732 succeeded
732 out of 733 succeeded
733 out of 734 succeeded
734 out of 735 succeeded
735 out of 736 succeeded